div::after {
  content: "";
  /* background: url(image.jpg); */
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwn4XdTpZfJZ4zxbLxbPMKDzcNb_LeYvk4Qw&usqp=CAU");
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-size: 70vh;  */
}
