<div class="jumbotron">
  <h1>{{ Titulo }}</h1>
  <hr />
  <h3>Integrantes:</h3>
  <ul>
    <li>Perez, Federico Hernan - 79412</li>
    <li>Luzara, Ezequiel - 67788</li>
    <li>Niveyro, Lucas - 76822</li>
    <li>Salas, Bruno - 78678</li>
    <li>Sardi, Ocatavio - 76199</li>
  </ul>

  <div class="container-fluid h-100">
    <div class="row w-100 align-items-center">
      <div class="col text-center">
        <button
          type="button"
          class="btn btn-lg btn-primary"
          routerLink="/pedido"
        >
          Pedido
        </button>
      </div>
    </div>
  </div>
</div>
